.table-wrap {
    margin: 0 auto;
    margin-top: 2%;
    width: 500px;
}
.win-table {
    border-spacing: 0;
    text-align: center;
    th {
        background-color: rgb(67, 141, 224);
        border: black 1px solid;
        padding: 5px 10px;
    }
    td {
        padding: 0 10px;
        border-bottom: 1px solid white;
    }
}
.button-wrap {
    display: flex;
}