.car-track__header {
    display: flex;
    color: black;
}
.car-track__body {
    display: flex;
    border-bottom: dashed black 1px;
    &__starter {
        display: flex;
        height: 50px;
    }
    .car-wrapper {
        position: relative;
    }
    .car-svg {
        height: 50px;
    }
    .flag-wrapper {
        width: 160px;
        margin-right: 0;
        margin-left: auto;
    }
    .flag {
        width: 10px;
        height: 10px;
        background-color: red;
    }
}

.animation {
    animation: drive 3s linear;
    animation-fill-mode: forwards;
}

@keyframes drive {
    0% {
        left: 0%;
    }
    100% {
        left: calc(100% - 180px)
    }
}
